<div id="header_bg">
    <div id="header">
        <div id="logo" class="float-lt"><a href="index.html"><img src="__PUBLIC__/user/images/shanghui_03.jpg" width="645" height="74"></a></div>
        <div class="top_rt">
            <div class="top_rfanh"><a href="{:url('index')}">返回首页</a><span>|</span><a href="{:url('contact')}">联系我们</a></div>
            <br/>
            <div class="top_sousuo">
                <input name="" type="text" class="sous_text">
                <input name="" type="button" class="sous_bot" value="搜索">
            </div>
        </div>
        <div class="spacer"></div>
    </div>
</div>