
<!DOCTYPE HTML>
<html>
<head>
	<title>HostEase香港服务器_新世界服务器_Telehouse服务器租用</title>
	<meta name="keywords" content="香港服务器,香港新世界服务器,香港Telehouse服务器" />
	<meta name="description" content="HostEase提供香港服务器，香港新世界服务器，香港Telehouse服务器租用服务，顶级香港数据中心，租用香港服务器首选HostEase。" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<span style="display: none;">.</span>
	<!-- <link rel="stylesheet" type="text/css" href="css/metahead.css"/> -->
	<link rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/footer.css" />
	<link rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.css" />
	<script type="text/javascript" src="__PUBLIC__/home/js/header/header.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.css" />
	<script src="__PUBLIC__/home/js/index/jquery.min.js"></script>
	<script src="__PUBLIC__/home/js/index/popper.min.js"></script>
	<script src="__PUBLIC__/home/js/index/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/header.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/lib/layui/css/layui.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/zhuce.css" />
	<link rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css">
	<script type="text/javascript" src="__PUBLIC__/home/js/header/header.js"></script>
	<script type="text/javascript" src="__PUBLIC__/home/lib/layui/layui.all.js"></script>
	<script src="__PUBLIC__/home/js/footer/bootstrap.min.js"></script>
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/te.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="google-site-verification" content="_Or6A7XoosUq6foFmJXMXNfkF1tRnFeaw42ZgYBjydU" />
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/re.css" />
<body>
<!-- 头部	 -->

<!-- 头部	 -->
{include file="user/top"/}

<!-- 主体 -->
<div class="subbanner" style="background:url(__PUBLIC__/home/img/background-subpage.jpg)">
	<div class="inner">
		<h1>{$title}</h1>
		<span><a href="/">主页</a> > <a href="#">{$title}</a></span>
		<div class="clear">&nbsp;</div>
	</div>
</div>

</div>

<div class="domainspacer">&nbsp;</div>

<article>

	<div class="article-inner">

		<ul class="navsub">
			{volist name="label" id="v"}
			<li><a href="#">{$v}</a></li>
			{/volist}
		</ul>

		<div class="clear">&nbsp;</div>
		<div class="highlightbox" id="overview">
			<p>{$content}</p>
		</div>
	</div>

	<div class="planscontainer">

		<div class="article-inner">

			<h2 class="center" id="plans">选择您的{$title}套餐</h2>
			<div class="featureboxes">
				<!--第一个产品-->
				{volist name="b" id="v" key="num"}
				<div class="box box1 wow animated bounceInLeft" style="width:31%;">
					<div class="popular" style="display:block;"></div>

					<div class="title">
						<h2 class="server1">{$v.packname}</h2>
					</div>
					<div class="extension">
						<div class="inner">
							<p class="center"><img src="__PUBLIC__/home/img/server-icon1.png" alt="双 L5640" class="img-respond" />
							</p>
							<div class="pricing">
								<em>$</em>{$v.price}<span>/月</span> </div>

						</div>
					</div>

					<p>{$v.packInfo}</p>

					<ul>
						{volist name="$v.packVal" id="vv"}
						<li>{$vv}</li>
						{/volist}
					</ul>

					<p class="buttons">
						<a href="http://127.0.0.3/user.php/ServerList/index" class="button1 color1">详情</a>
						<a href="http://127.0.0.3/user.php/Serverconfig/index/packname/{$v.packname}" class="button1 color2" type="submit">订购</a>
				</div>
                 {/volist}
				<div class="clear">&nbsp;</div>
			</div>
		</div>

		<div class="featuregridcontainer">

			<div class="featuregrid">
				<h2>{$title}特色</h2>

				{volist name="c" id="v"}
				<div class="col col1 wow animated bounceInLeft" style="width:31%;">
					<div class="padding">
						<div class="contents" style="background:url(__PUBLIC__/home/img/featuresgrid-icon1.png) left top no-repeat;height:120px;" alt="HostEase香港服务器租用操作系统">
							<h3>{$v.serTitle}</h3>
							<p>{$v.serText}</p>
						</div>
					</div>
				</div>
				{/volist}

				<div class="clear">&nbsp;</div>

			</div>

		</div>


	</div>

	<div class="featuregridcontainer">
		<div class="clear"> </div>

	</div>

	</div>


	</div>

	<div class="scriptscontainer">

		<div class="scripts">

			<div class="titleblock">
				<h2>一键安装脚本!</h2>
				<h3>一键安装无需自己添加代码.</h3>
			</div>

			<img src="__PUBLIC__/home/img/scripts.png" alt="香港独立服务器安装应用程序" class="img-respond img-scripts" />

		</div>

	</div>

	<div class="clear">&nbsp;</div>


	<div class="whychooseuscontainer">

		<div class="whychooseus">

			<div class="titleblock">
				<h2>为什么选择我们</h2>
				<h3>以下是选择我们的四大理由</h3>
			</div>

			<div class="block block1 wow animated fadeInLeft">
				<img src="__PUBLIC__/home/img/whychooseus-1.png" alt="香港服务器租用" class="img-respond img-whychooseus" />
				<div class="title">专业主机商</div>
				<div class="desc">全球知名数据中心托管，快速安全稳定，承诺99.9%在线率，兼容性强，多脚本支持。</div>
			</div>

			<div class="block block2 wow animated fadeInUp">
				<img src="__PUBLIC__/home/img/whychooseus-2.png" alt="香港服务器性能" class="img-respond img-whychooseus" />
				<div class="title">服务器性能</div>
				<div class="desc">全球知名数据中心托管，快速安全稳定，承诺99.9%在线率，兼容性强，多脚本支持。</div>
			</div>

			<div class="block block3 wow animated fadeInDown">
				<img src="__PUBLIC__/home/img/whychooseus-3.png" alt="退款保证" class="img-respond img-whychooseus" />
				<div class="title">30天退款保证</div>
				<div class="desc">如果您认定我们的非月付主机尚未达到您的标准，自购买之日30天内均可申请全额退款。</div>
			</div>

			<div class="block block4 wow animated fadeInRight">
				<img src="__PUBLIC__/home/img/whychooseus-4.png" alt="技术支持" class="img-respond img-whychooseus" />
				<div class="title">技术支持</div>
				<div class="desc">专业的技术团队，拥有丰富的运维经验，7*24小时在线技术支持，第一时间解决客户问题。</div>
			</div>

			<div class="clear">&nbsp;</div>

		</div>


	</div>

	<div class="columngrid">

		<div class="left">

			<h2>香港服务器常见问题</h2>

			<p>以下是我们最受欢迎的问题的答案.</p>

			<div class="faq-container">
				<section class="faq">
					<h3>我买的香港服务器在哪个机房？</h3>
					<div class="answer">
						<p>我们提供的香港独立服务器在香港新世界机房和TeleHouse机房，您在租用时可以选择对应的机房即可。</p>
					</div>
				</section>

				<section class="faq">
					<h3>香港独立服务器安装的是什么操作系统？</h3>
					<div class="answer">
						<p>我们的每台香港服务器支持Linux和Windows操作系统安装，您可以根据您的习惯选择合适的操作系统。</p>
					</div>
				</section>

				<section class="faq">
					<h3>我享受怎样的独立服务器访问权限？</h3>
					<div class="answer">
						<p>您拥有完全的根管理权限，意味着您对您的服务器拥有完全的管理控制。您可以选择安装任何软件，并可以完全管理您的服务器。</p>
					</div>
				</section>

				<section class="faq">
					<h3>租用的香港独立服务器多长时间可以交付使用？</h3>
					<div class="answer">
						<p>专有的配置系统能够在几分钟内完成您服务器的设置工作，确保您可以立即访问您的服务器。</p>
					</div>
				</section>

			</div>

		</div>

		<div class="right">

			<h2>客户评价</h2>

			<p>看看我们的客户都说些什么吧.</p>


			<div class="testimonials">

				<div class="testimonial">
					<div class="speech">
						<div class="inner">
							<p>HostEase香港独立服务器的速度真的很快，有利于我在亚洲开展外贸业务。</p>
						</div>
						<div class="iconbottom">&nbsp;</div>
					</div>
					<div class="author" style="background: url(__PUBLIC__/home/img/testimonial1.png) left top no-repeat;">
						<strong>Jane Goodman</strong></div>
				</div>

			</div>

			<div class="clear">&nbsp;</div>

		</div>

		<div class="clear">&nbsp;</div>

	</div>

</article>

<div class="partners">
	<div class="inner"><img src="__PUBLIC__/home/img/partners.png" alt="your company name partners"
							class="img-respond img-partners" /></div>
</div>

{include file="user/foot"/}
<script src="lib/layui/layui.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script src="js/header.js"></script>
<script>
	//注意：导航 依赖 element 模块，否则无法进行功能性操作
	layui.use('element', function () {
		var element = layui.element;
	});
	//form表单
	layui.use('form', function () {
		var form = layui.form;

		//监听提交
		form.on('submit(formDemo)', function (data) {
			layer.msg(JSON.stringify(data.field));
			return false;
		});
	});
</script>
<a href="#0" class="cd-top">&nbsp;</a>
</body>
</html>