* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.top-box {
	width: 100%;
	height: auto;
	background-image: url(../img/background-subpage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.header {
	width: 100%;
	height: auto;
}

.menu {
	width: 100%;
	margin: auto;
	height: 35px;
	line-height: 35px;
	background: #1e9fb4;
}

.toobar {
	width: 65%;
	margin: auto;
	height: 35px;
	line-height: 35px;
}

.toobar>div>a {
	text-decoration: none;
	color: white;
}

.menu-left {
	float: left;
}

.menu-left a:nth-child(1) {
	font-size: 14px;
	float: left;
}

.menu-left a:nth-child(2) {
	font-size: 14px;
	font-weight: bold;
	float: left;
}

.menu-left a:nth-child(3) {
	font-size: 14px;
	float: left;
}

.menu-right {
	float: right;
}

.menu-right ul {
	list-style: none;
	float: left;
}

.menu-right ul li {
	float: left;
	margin-right: 10px;
}

.menu-right>ul>li>a {
	text-decoration: none;
	color: white;
	margin-left: 5px;
}


.tab {
	width: 65%;
	height: 95px;
	margin: 10px auto;
	clear: both;
}

.tab_huan {
	width: 100%;
	height: 95px;
	position: fixed;
	top: 0;
	left: 0;
}

.logo {
	margin-top: 10px;
	float: left;
	width: 187px;
	height: 53px;
	z-index: 2222;
}

.logo img {
	width: 187px;
	height: 51px;
}

.tabbar-box {
	margin-top: 20px;
	float: right;
	width: 60%;
	height: 45px;
}

.layui-nav {
	background: none;
}

.layui-nav-item {
	/* height: 45px; */
}

.dinggou {
	height: 45px;
	line-height: 45px;
	border: 1px solid #1E9FB4;
	border-radius: 5px;
	background: none;
}

.layui-bg-gray {
	width: 65%;
	margin: 10px auto;
	background: #E0E0E0 !important;
}

.hr-box {
	width: 100%;
	height: 1px;
}

.tabbar-box2 {
	width: 100%;
	height: 45px;
}

.fixnav {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3000;
}

.test {
	background: #6495ED;
	height: 2000px;
	padding-top: 100px;
}
