<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title></title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/footer.css" />
  <link rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.css" />
  <link rel="stylesheet" href="__PUBLIC__/home/css/index.css">
  <script src="__PUBLIC__/home/js/index/jquery.min.js"></script>
  <script src="__PUBLIC__/home/js/index/popper.min.js"></script>
  <script src="__PUBLIC__/home/js/index/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/header.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/lib/layui/css/layui.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/zhuce.css" />
  <link rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css">
  <script type="text/javascript" src="__PUBLIC__/home/js/header/header.js"></script>
  <script type="text/javascript" src="__PUBLIC__/home/lib/layui/layui.all.js"></script>
  <script src="__PUBLIC__/home/js/footer/bootstrap.min.js"></script>
  <!-- <link rel="stylesheet" type="text/css" href="css/metahead.css"/> -->
</head>
<body>
{include file="user/top"/}
<!-- index -->
<div class="index">
  <!-- 头部图片 -->
  <div class="topBground">
    <div class="topCenter container hidden-xs">
      <ul>
        {volist name="recommend" id="v"}
        <li class="row">
          <div class="img box">
            <h1 class="text-write text-h1">{$v.title}</h1>
            <h2 class="text-color text-h2">{$v.remark}</h2>
            <div class="topList row">
              <div class="list text-write">
                {volist name="v" id="vv"}
                  {volist name="vv" id="vvv"}
                <div class="listItem">{$vvv}</div>
                  {/volist}
                {/volist}
              </div>
              <div class="pic text-color hidden-sm">
                <div class="line1"><br></div>
                <div class="line2">$3.95/月</div>
                <div class="line3">起<br></div>
              </div>
              <div class="btn text-write bg-color ">开始订购</div>
            </div>
          </div>
        </li>
        {/volist}
      </ul>
    </div>
  </div>
  <!-- 产品承诺 -->
  {volist name="host" id="vo"}
  <div class="notice">
    <div class="noticeCenter">
      <h2>{$vo.title}</h2>
      {volist name="content" id="v"}
      <p>{$v}</p>
      {/volist}
    </div>
  </div>
  {/volist}
  <!-- 产品列表 -->
  <div class="choseCard">
    <div class="cardAll">
      <h2>{$title}</h2>
      <ul class="cardList">
        {volist name="hostInfo" id="vo"}
        <li class="cardItem">
          <div class="cardTitle">
            <h2>{$vo.remark}</h2>
          </div>
          <div class="cardPic">
            <div class="cardimg">
              <img src="__PUBLIC__/home/img/index/server-icon1.png" alt="">
            </div>
            <div class="cardText">
              <em>$</em>{$vo.price}<span>/月</span>
            </div>
          </div>
          <p class="importLine"></p>
          <ul class="cardDis">
            {volist name="vo.content" id="v"}
            <li>{$v}</li>
            {/volist}
          </ul>
          <div class="cardGo">
            <a href="jacascript:;">更多</a>
            <a href="jacascript:;">订购</a>
          </div>
        </li>
        {/volist}
      </ul>
    </div>
  </div>
  <!-- 产品描述 -->
  <div class="characteristic">
    <div class="describe">
      <div class="desTitle">
        <h2>{$feaTitle}</h2>
      </div>
      <ul class="desCrd">
        {volist name="hostFea" id="v"}
        <li class="desCrdItem">
          <div class="itemList">
            <div class="itemImg">
              <h3>{$v.remark}</h3>
              <p>{$v.content}</p>
            </div>
          </div>
        </li>
        {/volist}
      </ul>
    </div>
  </div>
  <!-- 公用 -->
  <div class="public">
    <!-- 一键安装脚本 -->
    <div class="installFoot">
      <div class="boxAll">
        <h1>一键安装脚本</h1>
        <h2>一键安装无需自己添加代码</h2>
        <div class="boxImg">
          <img src="__PUBLIC__/home/img/index/scripts.png" alt="">
        </div>
      </div>
    </div>
    <!-- 选择我们 -->
    <div class="installChose">
      <div class="boxChose">
        <h1>为什么选择我们</h1>
        <h2>以下是选择我们的四大理由</h2>
        <ul class="choseList">
          <li class="choseItem">
            <img src="__PUBLIC__/home/img/index/whychooseus-1.png" alt="">
            <h4>专业主机商</h4>
            <p>十年主机服务器租用经验，多样化主机配置，满足用户的多样化需求，具有极高的性价比。</p>
          </li>
          <li class="choseItem">
            <img src="__PUBLIC__/home/img/index/whychooseus-2.png" alt="">
            <h4>服务器性能</h4>
            <p>全球知名数据中心托管，快速安全稳定，乘诺99.9%在线率，兼容性强，多脚本支持。</p>
          </li>
          <li class="choseItem">
            <img src="__PUBLIC__/home/img/index/whychooseus-3.png" alt="">
            <h4>30天退款保证</h4>
            <p>如果您认定我们的非月付主机尚未达到您的标准，自购买之日30天内可申请全额退款。</p>
          </li>
          <li class="choseItem">
            <img src="__PUBLIC__/home/img/index/whychooseus-4.png" alt="">
            <h4>技术支持</h4>
            <p>专业的技术团队，拥有丰富的运维经验，7*24小时在线技术支持，第一时间解决客户问题。</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- 尾部 -->
{include file="user/foot"/}

<script src="__PUBLIC__/home/lib/layui/layui.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/jquery.js"></script>
<script src="__PUBLIC__/home/js/header.js"></script>
<script>
  //注意：导航 依赖 element 模块，否则无法进行功能性操作
  layui.use('element', function() {
    var element = layui.element;
  });
  //form表单
  layui.use('form', function() {
    var form = layui.form;

    //监听提交
    form.on('submit(formDemo)', function(data) {
      layer.msg(JSON.stringify(data.field));
      return false;
    });
  });
</script>
</body>
</html>
